<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectionFrames</key>
	<array>
		<dict>
			<key>connections</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{29, -31}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>bone</key>
					<string>leftFoot</string>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{9, 0}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>bone</key>
					<string>rightFoot</string>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{8, -1}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>bone</key>
					<string>leftLowerArm</string>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 18}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>bone</key>
					<string>rightLowerArm</string>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{2, 20}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{2, -20}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-24, -15}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-32, -24}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{10, -39}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>bone</key>
					<string>leftHand</string>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{4, 6}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{9, 9}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{10, -67}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{12, -30}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>bone</key>
					<string>leftLowerLeg</string>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-9, 23}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>bone</key>
					<string>rightLowerLeg</string>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-5, 21}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>bone</key>
					<string>leftUpperLeg</string>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 18}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>bone</key>
					<string>rightUpperLeg</string>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 17}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{32, -9}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{54, 32}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>bone</key>
					<string>neck</string>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-3, -14}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -9}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>bone</key>
					<string>leftUpperArm</string>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{3, 26}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>bone</key>
					<string>rightUpperArm</string>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-3, 26}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.828788757324219</real>
					<key>posOff</key>
					<string>{0, 0}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{7, -65}</string>
				</dict>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>version</key>
		<real>1</real>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>name</key>
	<string>Push</string>
	<key>playMode</key>
	<integer>1</integer>
	<key>positionFrames</key>
	<array>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{0, -3}</string>
				<key>head</key>
				<string>{61, 146}</string>
				<key>leftFoot</key>
				<string>{35, -100}</string>
				<key>leftHand</key>
				<string>{95, 33}</string>
				<key>leftLowerArm</key>
				<string>{77, 31}</string>
				<key>leftLowerLeg</key>
				<string>{6, -90}</string>
				<key>leftPelvis</key>
				<string>{19, 3}</string>
				<key>leftShoulder</key>
				<string>{42, 78}</string>
				<key>leftUpperArm</key>
				<string>{41, 32}</string>
				<key>leftUpperLeg</key>
				<string>{19, -46}</string>
				<key>neck</key>
				<string>{40, 105}</string>
				<key>rightFoot</key>
				<string>{-48, -98}</string>
				<key>rightHand</key>
				<string>{85, 95}</string>
				<key>rightLowerArm</key>
				<string>{84, 72}</string>
				<key>rightLowerLeg</key>
				<string>{-64, -86}</string>
				<key>rightPelvis</key>
				<string>{-18, -2}</string>
				<key>rightShoulder</key>
				<string>{5, 87}</string>
				<key>rightUpperArm</key>
				<string>{46, 63}</string>
				<key>rightUpperLeg</key>
				<string>{-30, -44}</string>
				<key>torso</key>
				<string>{31, 88}</string>
			</dict>
			<key>time</key>
			<real>3.9062499126885086e-05</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{1, -8}</string>
				<key>head</key>
				<string>{59, 142}</string>
				<key>leftFoot</key>
				<string>{10, -102}</string>
				<key>leftHand</key>
				<string>{93, 40}</string>
				<key>leftLowerArm</key>
				<string>{75, 37}</string>
				<key>leftLowerLeg</key>
				<string>{-19, -89}</string>
				<key>leftPelvis</key>
				<string>{21, -5}</string>
				<key>leftShoulder</key>
				<string>{44, 77}</string>
				<key>leftUpperArm</key>
				<string>{40, 30}</string>
				<key>leftUpperLeg</key>
				<string>{8, -51}</string>
				<key>neck</key>
				<string>{39, 100}</string>
				<key>rightFoot</key>
				<string>{-61, -96}</string>
				<key>rightHand</key>
				<string>{82, 90}</string>
				<key>rightLowerArm</key>
				<string>{83, 67}</string>
				<key>rightLowerLeg</key>
				<string>{-75, -82}</string>
				<key>rightPelvis</key>
				<string>{-18, -8}</string>
				<key>rightShoulder</key>
				<string>{5, 81}</string>
				<key>rightUpperArm</key>
				<string>{45, 56}</string>
				<key>rightUpperLeg</key>
				<string>{-31, -50}</string>
				<key>torso</key>
				<string>{31, 83}</string>
			</dict>
			<key>time</key>
			<real>0.3056640625</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{7, 4}</string>
				<key>head</key>
				<string>{61, 156}</string>
				<key>leftFoot</key>
				<string>{8, -103}</string>
				<key>leftHand</key>
				<string>{94, 34}</string>
				<key>leftLowerArm</key>
				<string>{75, 35}</string>
				<key>leftLowerLeg</key>
				<string>{-21, -91}</string>
				<key>leftPelvis</key>
				<string>{23, -7}</string>
				<key>leftShoulder</key>
				<string>{40, 83}</string>
				<key>leftUpperArm</key>
				<string>{40, 36}</string>
				<key>leftUpperLeg</key>
				<string>{5, -52}</string>
				<key>neck</key>
				<string>{47, 111}</string>
				<key>rightFoot</key>
				<string>{-52, -95}</string>
				<key>rightHand</key>
				<string>{80, 90}</string>
				<key>rightLowerArm</key>
				<string>{81, 67}</string>
				<key>rightLowerLeg</key>
				<string>{-59, -76}</string>
				<key>rightPelvis</key>
				<string>{-12, 1}</string>
				<key>rightShoulder</key>
				<string>{9, 92}</string>
				<key>rightUpperArm</key>
				<string>{43, 59}</string>
				<key>rightUpperLeg</key>
				<string>{-16, -43}</string>
				<key>torso</key>
				<string>{35, 96}</string>
			</dict>
			<key>time</key>
			<real>0.6505468487739563</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>leftFoot</key>
				<string>{-11, -100}</string>
				<key>leftHand</key>
				<string>{93, 34}</string>
				<key>leftLowerLeg</key>
				<string>{-34, -79}</string>
				<key>leftPelvis</key>
				<string>{25, -5}</string>
				<key>leftUpperArm</key>
				<string>{39, 36}</string>
				<key>leftUpperLeg</key>
				<string>{-2, -46}</string>
				<key>rightFoot</key>
				<string>{-35, -80}</string>
				<key>rightHand</key>
				<string>{79, 90}</string>
				<key>rightLowerLeg</key>
				<string>{-47, -64}</string>
				<key>rightUpperLeg</key>
				<string>{3, -41}</string>
			</dict>
			<key>time</key>
			<real>0.9248046875</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{8, -2}</string>
				<key>head</key>
				<string>{59, 150}</string>
				<key>leftFoot</key>
				<string>{-26, -98}</string>
				<key>leftHand</key>
				<string>{91, 33}</string>
				<key>leftLowerArm</key>
				<string>{73, 33}</string>
				<key>leftLowerLeg</key>
				<string>{-41, -71}</string>
				<key>leftPelvis</key>
				<string>{27, -7}</string>
				<key>leftShoulder</key>
				<string>{42, 79}</string>
				<key>leftUpperArm</key>
				<string>{38, 33}</string>
				<key>leftUpperLeg</key>
				<string>{-3, -45}</string>
				<key>neck</key>
				<string>{43, 106}</string>
				<key>rightFoot</key>
				<string>{42, -93}</string>
				<key>rightHand</key>
				<string>{80, 90}</string>
				<key>rightLowerArm</key>
				<string>{82, 67}</string>
				<key>rightLowerLeg</key>
				<string>{23, -98}</string>
				<key>rightPelvis</key>
				<string>{-11, -7}</string>
				<key>rightShoulder</key>
				<string>{7, 89}</string>
				<key>rightUpperArm</key>
				<string>{44, 59}</string>
				<key>rightUpperLeg</key>
				<string>{12, -45}</string>
				<key>torso</key>
				<string>{34, 90}</string>
			</dict>
			<key>time</key>
			<real>1.2623437643051147</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{11, 4}</string>
				<key>head</key>
				<string>{61, 156}</string>
				<key>leftFoot</key>
				<string>{-29, -92}</string>
				<key>leftHand</key>
				<string>{89, 34}</string>
				<key>leftLowerArm</key>
				<string>{71, 35}</string>
				<key>leftLowerLeg</key>
				<string>{-37, -62}</string>
				<key>leftPelvis</key>
				<string>{30, 2}</string>
				<key>leftShoulder</key>
				<string>{40, 83}</string>
				<key>leftUpperArm</key>
				<string>{36, 37}</string>
				<key>leftUpperLeg</key>
				<string>{2, -37}</string>
				<key>neck</key>
				<string>{47, 112}</string>
				<key>rightFoot</key>
				<string>{25, -101}</string>
				<key>rightHand</key>
				<string>{79, 90}</string>
				<key>rightLowerArm</key>
				<string>{83, 67}</string>
				<key>rightLowerLeg</key>
				<string>{5, -99}</string>
				<key>rightPelvis</key>
				<string>{-6, -5}</string>
				<key>rightShoulder</key>
				<string>{10, 89}</string>
				<key>rightUpperArm</key>
				<string>{45, 57}</string>
				<key>rightUpperLeg</key>
				<string>{11, -45}</string>
				<key>torso</key>
				<string>{36, 97}</string>
			</dict>
			<key>time</key>
			<real>1.4823827743530273</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{14, 5}</string>
				<key>head</key>
				<string>{61, 157}</string>
				<key>leftFoot</key>
				<string>{-23, -92}</string>
				<key>leftHand</key>
				<string>{91, 34}</string>
				<key>leftLowerArm</key>
				<string>{72, 35}</string>
				<key>leftLowerLeg</key>
				<string>{-27, -61}</string>
				<key>leftPelvis</key>
				<string>{33, 10}</string>
				<key>leftShoulder</key>
				<string>{40, 85}</string>
				<key>leftUpperArm</key>
				<string>{37, 38}</string>
				<key>leftUpperLeg</key>
				<string>{10, -33}</string>
				<key>neck</key>
				<string>{48, 112}</string>
				<key>rightFoot</key>
				<string>{-1, -102}</string>
				<key>rightLowerLeg</key>
				<string>{-20, -96}</string>
				<key>rightPelvis</key>
				<string>{-4, -2}</string>
				<key>rightShoulder</key>
				<string>{10, 90}</string>
				<key>rightUpperArm</key>
				<string>{45, 58}</string>
				<key>rightUpperLeg</key>
				<string>{1, -45}</string>
				<key>torso</key>
				<string>{36, 98}</string>
			</dict>
			<key>time</key>
			<real>1.6657031774520874</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{15, 8}</string>
				<key>head</key>
				<string>{62, 160}</string>
				<key>leftFoot</key>
				<string>{-12, -80}</string>
				<key>leftHand</key>
				<string>{87, 35}</string>
				<key>leftLowerArm</key>
				<string>{69, 37}</string>
				<key>leftLowerLeg</key>
				<string>{-17, -49}</string>
				<key>leftPelvis</key>
				<string>{34, 10}</string>
				<key>leftShoulder</key>
				<string>{39, 88}</string>
				<key>leftUpperArm</key>
				<string>{33, 42}</string>
				<key>leftUpperLeg</key>
				<string>{28, -38}</string>
				<key>neck</key>
				<string>{50, 115}</string>
				<key>rightFoot</key>
				<string>{-30, -97}</string>
				<key>rightHand</key>
				<string>{76, 90}</string>
				<key>rightLowerArm</key>
				<string>{79, 67}</string>
				<key>rightLowerLeg</key>
				<string>{-47, -86}</string>
				<key>rightPelvis</key>
				<string>{-2, -1}</string>
				<key>rightShoulder</key>
				<string>{10, 97}</string>
				<key>rightUpperArm</key>
				<string>{41, 61}</string>
				<key>rightUpperLeg</key>
				<string>{-14, -43}</string>
				<key>torso</key>
				<string>{37, 102}</string>
			</dict>
			<key>time</key>
			<real>1.8136718273162842</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{0, -3}</string>
				<key>head</key>
				<string>{61, 146}</string>
				<key>leftFoot</key>
				<string>{35, -100}</string>
				<key>leftHand</key>
				<string>{95, 33}</string>
				<key>leftLowerArm</key>
				<string>{77, 31}</string>
				<key>leftLowerLeg</key>
				<string>{5, -90}</string>
				<key>leftPelvis</key>
				<string>{19, 2}</string>
				<key>leftShoulder</key>
				<string>{42, 78}</string>
				<key>leftUpperArm</key>
				<string>{41, 32}</string>
				<key>leftUpperLeg</key>
				<string>{19, -46}</string>
				<key>neck</key>
				<string>{40, 105}</string>
				<key>rightFoot</key>
				<string>{-48, -98}</string>
				<key>rightHand</key>
				<string>{85, 95}</string>
				<key>rightLowerArm</key>
				<string>{84, 72}</string>
				<key>rightLowerLeg</key>
				<string>{-64, -86}</string>
				<key>rightPelvis</key>
				<string>{-18, -2}</string>
				<key>rightShoulder</key>
				<string>{5, 87}</string>
				<key>rightUpperArm</key>
				<string>{46, 63}</string>
				<key>rightUpperLeg</key>
				<string>{-30, -44}</string>
				<key>torso</key>
				<string>{31, 88}</string>
			</dict>
			<key>time</key>
			<real>2</real>
		</dict>
	</array>
	<key>skinFrames</key>
	<array>
		<dict>
			<key>skins</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<string>eyes_OPEN.png</string>
				<key>foot_LEFT.png</key>
				<string>foot_LEFT.png</string>
				<key>foot_RIGHT.png</key>
				<string>foot_RIGHT.png</string>
				<key>forearm_L_outline.png</key>
				<string>forearm_L_outline.png</string>
				<key>forearm_R_outline.png</key>
				<string>forearm_R_outline.png</string>
				<key>gun-belt.png</key>
				<string>gun-belt.png</string>
				<key>gun-holster.png</key>
				<string>gun-holster.png</string>
				<key>gun.png</key>
				<string>gun.png</string>
				<key>hair.png</key>
				<string>hair.png</string>
				<key>hand_L_outline.png</key>
				<string>hand_L_outline.png</string>
				<key>hand_R_outline.png</key>
				<string>handRest.png</string>
				<key>hat.png</key>
				<string>hat.png</string>
				<key>head.png</key>
				<string>head.png</string>
				<key>leg_lower_L_outline.png</key>
				<string>leg_lower_L_outline.png</string>
				<key>leg_lower_R_outline.png</key>
				<string>leg_lower_R_outline.png</string>
				<key>leg_upper_L_outline.png</key>
				<string>leg_upper_L_outline.png</string>
				<key>leg_upper_R_outline.png</key>
				<string>leg_upper_R_outline.png</string>
				<key>mouth.png</key>
				<string>angry_mouth.png</string>
				<key>muzzleFlash.png</key>
				<string>muzzleFlash.png</string>
				<key>neck_outline.png</key>
				<string>neck_outline.png</string>
				<key>pelvis.png</key>
				<string>pelvis.png</string>
				<key>shoulder_L_outline.png</key>
				<string>shoulder_L_outline.png</string>
				<key>shoulder_R_outline.png</key>
				<string>shoulder_R_outline.png</string>
				<key>tennisBall.png</key>
				<string>tennisBall.png</string>
				<key>torso_outline.png</key>
				<string>torso_outline.png</string>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>spriteTransformFrames</key>
	<array>
		<dict>
			<key>time</key>
			<real>0.0</real>
			<key>transform</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135299682617188</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{29, -31}</string>
					<key>position</key>
					<string>{22, 152}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angle</key>
					<real>2.4377212524414062</real>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{9, 0}</string>
					<key>position</key>
					<string>{19, -97}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angle</key>
					<real>4.9422531127929688</real>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{8, -1}</string>
					<key>position</key>
					<string>{-21, -99}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>29.785316467285156</real>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 18}</string>
					<key>position</key>
					<string>{26, 33}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-16.049697875976562</real>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{2, 20}</string>
					<key>position</key>
					<string>{-46, 30}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{2, -20}</string>
					<key>position</key>
					<string>{-2, 22}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-24, -15}</string>
					<key>position</key>
					<string>{-26, 15}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-32, -24}</string>
					<key>position</key>
					<string>{-36, 23}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135299682617188</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{10, -39}</string>
					<key>position</key>
					<string>{2, 158}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>11.812339782714844</real>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{4, 6}</string>
					<key>position</key>
					<string>{48, 22}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-22.7193603515625</real>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{9, 9}</string>
					<key>position</key>
					<string>{-38, 0}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135147094726562</real>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{10, -67}</string>
					<key>position</key>
					<string>{1, 186}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135299682617188</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{12, -30}</string>
					<key>position</key>
					<string>{5, 150}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>7.019927978515625</real>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-9, 23}</string>
					<key>position</key>
					<string>{12, -77}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>10.808792114257812</real>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-5, 21}</string>
					<key>position</key>
					<string>{-22, -68}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-1.0427398681640625</real>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 18}</string>
					<key>position</key>
					<string>{14, -22}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-2.05889892578125</real>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 17}</string>
					<key>position</key>
					<string>{-12, -21}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135299682617188</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{32, -9}</string>
					<key>position</key>
					<string>{26, 131}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angle</key>
					<real>-20.287689208984375</real>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{54, 32}</string>
					<key>position</key>
					<string>{-2, -34}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angle</key>
					<real>10.332168579101562</real>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-3, -14}</string>
					<key>position</key>
					<string>{-5, 114}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -9}</string>
					<key>position</key>
					<string>{-2, 11}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>24.8282470703125</real>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{3, 26}</string>
					<key>position</key>
					<string>{9, 65}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-21.180587768554688</real>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-3, 26}</string>
					<key>position</key>
					<string>{-41, 69}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angle</key>
					<real>-1.52587890625e-05</real>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.828788757324219</real>
					<key>posOff</key>
					<string>{0, 0}</string>
					<key>position</key>
					<string>{-7, 22}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{7, -65}</string>
					<key>position</key>
					<string>{-1, 68}</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>totalTime</key>
	<real>2</real>
	<key>visibilityFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<true/>
				<key>foot_LEFT.png</key>
				<true/>
				<key>foot_RIGHT.png</key>
				<true/>
				<key>forearm_L_outline.png</key>
				<true/>
				<key>forearm_R_outline.png</key>
				<true/>
				<key>gun-belt.png</key>
				<true/>
				<key>gun-holster.png</key>
				<true/>
				<key>gun.png</key>
				<true/>
				<key>hair.png</key>
				<true/>
				<key>hand_L_outline.png</key>
				<true/>
				<key>hand_R_outline.png</key>
				<true/>
				<key>hat.png</key>
				<true/>
				<key>head.png</key>
				<true/>
				<key>leg_lower_L_outline.png</key>
				<true/>
				<key>leg_lower_R_outline.png</key>
				<true/>
				<key>leg_upper_L_outline.png</key>
				<true/>
				<key>leg_upper_R_outline.png</key>
				<true/>
				<key>mouth.png</key>
				<true/>
				<key>muzzleFlash.png</key>
				<false/>
				<key>neck_outline.png</key>
				<true/>
				<key>pelvis.png</key>
				<true/>
				<key>shoulder_L_outline.png</key>
				<true/>
				<key>shoulder_R_outline.png</key>
				<true/>
				<key>tennisBall.png</key>
				<false/>
				<key>torso_outline.png</key>
				<true/>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>zOrderFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<integer>16</integer>
				<key>foot_LEFT.png</key>
				<integer>5</integer>
				<key>foot_RIGHT.png</key>
				<integer>8</integer>
				<key>forearm_L_outline.png</key>
				<integer>1</integer>
				<key>forearm_R_outline.png</key>
				<integer>22</integer>
				<key>gun-belt.png</key>
				<integer>10</integer>
				<key>gun-holster.png</key>
				<integer>14</integer>
				<key>gun.png</key>
				<integer>13</integer>
				<key>hair.png</key>
				<integer>18</integer>
				<key>hand_L_outline.png</key>
				<integer>2</integer>
				<key>hand_R_outline.png</key>
				<integer>20</integer>
				<key>hat.png</key>
				<integer>19</integer>
				<key>head.png</key>
				<integer>15</integer>
				<key>leg_lower_L_outline.png</key>
				<integer>4</integer>
				<key>leg_lower_R_outline.png</key>
				<integer>7</integer>
				<key>leg_upper_L_outline.png</key>
				<integer>3</integer>
				<key>leg_upper_R_outline.png</key>
				<integer>6</integer>
				<key>mouth.png</key>
				<integer>17</integer>
				<key>muzzleFlash.png</key>
				<integer>23</integer>
				<key>neck_outline.png</key>
				<integer>11</integer>
				<key>pelvis.png</key>
				<integer>9</integer>
				<key>shoulder_L_outline.png</key>
				<integer>0</integer>
				<key>shoulder_R_outline.png</key>
				<integer>21</integer>
				<key>tennisBall.png</key>
				<integer>24</integer>
				<key>torso_outline.png</key>
				<integer>12</integer>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
</dict>
</plist>
