<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectionFrames</key>
	<array>
		<dict>
			<key>connections</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{14, -15}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>bone</key>
					<string>leftFoot</string>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{4, 0}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>bone</key>
					<string>rightFoot</string>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{4, -1}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>bone</key>
					<string>leftLowerArm</string>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 9}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>bone</key>
					<string>rightLowerArm</string>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{1, 10}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{1, -10}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-12, -7}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-16, -12}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{5, -19}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>bone</key>
					<string>leftHand</string>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{2, 3}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{5, 4}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{5, -33}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{6, -15}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>bone</key>
					<string>leftLowerLeg</string>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-4, 12}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>bone</key>
					<string>rightLowerLeg</string>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-3, 10}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>bone</key>
					<string>leftUpperLeg</string>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 9}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>bone</key>
					<string>rightUpperLeg</string>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 8}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{16, -5}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{27, 16}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>bone</key>
					<string>neck</string>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-2, -7}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -4}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>bone</key>
					<string>leftUpperArm</string>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{1, 13}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>bone</key>
					<string>rightUpperArm</string>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-1, 13}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.828788757324219</real>
					<key>posOff</key>
					<string>{0, 0}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{3, -33}</string>
				</dict>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>version</key>
		<real>1</real>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>name</key>
	<string>Push</string>
	<key>playMode</key>
	<integer>1</integer>
	<key>positionFrames</key>
	<array>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{1, -3}</string>
				<key>head</key>
				<string>{31, 72}</string>
				<key>leftFoot</key>
				<string>{18, -51}</string>
				<key>leftHand</key>
				<string>{48, 15}</string>
				<key>leftLowerArm</key>
				<string>{39, 15}</string>
				<key>leftLowerLeg</key>
				<string>{3, -46}</string>
				<key>leftPelvis</key>
				<string>{10, 0}</string>
				<key>leftShoulder</key>
				<string>{22, 38}</string>
				<key>leftUpperArm</key>
				<string>{21, 15}</string>
				<key>leftUpperLeg</key>
				<string>{10, -24}</string>
				<key>neck</key>
				<string>{21, 51}</string>
				<key>rightFoot</key>
				<string>{-23, -50}</string>
				<key>rightHand</key>
				<string>{43, 46}</string>
				<key>rightLowerArm</key>
				<string>{43, 35}</string>
				<key>rightLowerLeg</key>
				<string>{-31, -44}</string>
				<key>rightPelvis</key>
				<string>{-9, -2}</string>
				<key>rightShoulder</key>
				<string>{3, 42}</string>
				<key>rightUpperArm</key>
				<string>{24, 31}</string>
				<key>rightUpperLeg</key>
				<string>{-14, -23}</string>
				<key>torso</key>
				<string>{16, 43}</string>
			</dict>
			<key>time</key>
			<real>3.9062499126885086e-05</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{1, -5}</string>
				<key>head</key>
				<string>{30, 70}</string>
				<key>leftFoot</key>
				<string>{5, -52}</string>
				<key>leftHand</key>
				<string>{47, 19}</string>
				<key>leftLowerArm</key>
				<string>{38, 18}</string>
				<key>leftLowerLeg</key>
				<string>{-9, -46}</string>
				<key>leftPelvis</key>
				<string>{11, -3}</string>
				<key>leftShoulder</key>
				<string>{23, 37}</string>
				<key>leftUpperArm</key>
				<string>{21, 14}</string>
				<key>leftUpperLeg</key>
				<string>{5, -27}</string>
				<key>neck</key>
				<string>{20, 49}</string>
				<key>rightFoot</key>
				<string>{-30, -49}</string>
				<key>rightHand</key>
				<string>{42, 44}</string>
				<key>rightLowerArm</key>
				<string>{42, 32}</string>
				<key>rightLowerLeg</key>
				<string>{-37, -42}</string>
				<key>rightPelvis</key>
				<string>{-8, -5}</string>
				<key>rightShoulder</key>
				<string>{3, 40}</string>
				<key>rightUpperArm</key>
				<string>{23, 27}</string>
				<key>rightUpperLeg</key>
				<string>{-15, -26}</string>
				<key>torso</key>
				<string>{16, 41}</string>
			</dict>
			<key>time</key>
			<real>0.3056640625</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{4, 1}</string>
				<key>head</key>
				<string>{31, 77}</string>
				<key>leftHand</key>
				<string>{47, 16}</string>
				<key>leftLowerArm</key>
				<string>{38, 16}</string>
				<key>leftLowerLeg</key>
				<string>{-10, -46}</string>
				<key>leftPelvis</key>
				<string>{12, -5}</string>
				<key>leftShoulder</key>
				<string>{21, 40}</string>
				<key>leftUpperArm</key>
				<string>{21, 17}</string>
				<key>leftUpperLeg</key>
				<string>{3, -27}</string>
				<key>neck</key>
				<string>{24, 54}</string>
				<key>rightFoot</key>
				<string>{-25, -48}</string>
				<key>rightHand</key>
				<string>{41, 44}</string>
				<key>rightLowerArm</key>
				<string>{41, 32}</string>
				<key>rightLowerLeg</key>
				<string>{-29, -39}</string>
				<key>rightPelvis</key>
				<string>{-5, -1}</string>
				<key>rightShoulder</key>
				<string>{5, 45}</string>
				<key>rightUpperArm</key>
				<string>{22, 28}</string>
				<key>rightUpperLeg</key>
				<string>{-7, -23}</string>
				<key>torso</key>
				<string>{18, 47}</string>
			</dict>
			<key>time</key>
			<real>0.6505468487739563</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>leftFoot</key>
				<string>{-5, -51}</string>
				<key>leftLowerLeg</key>
				<string>{-16, -41}</string>
				<key>leftPelvis</key>
				<string>{13, -4}</string>
				<key>leftUpperArm</key>
				<string>{20, 17}</string>
				<key>leftUpperLeg</key>
				<string>{0, -24}</string>
				<key>rightFoot</key>
				<string>{-17, -41}</string>
				<key>rightHand</key>
				<string>{40, 44}</string>
				<key>rightLowerLeg</key>
				<string>{-23, -33}</string>
				<key>rightUpperLeg</key>
				<string>{2, -22}</string>
			</dict>
			<key>time</key>
			<real>0.9248046875</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{5, -2}</string>
				<key>head</key>
				<string>{30, 74}</string>
				<key>leftFoot</key>
				<string>{-12, -50}</string>
				<key>leftHand</key>
				<string>{46, 16}</string>
				<key>leftLowerArm</key>
				<string>{37, 15}</string>
				<key>leftLowerLeg</key>
				<string>{-20, -37}</string>
				<key>leftPelvis</key>
				<string>{14, -5}</string>
				<key>leftShoulder</key>
				<string>{22, 38}</string>
				<key>leftUpperArm</key>
				<string>{19, 15}</string>
				<key>leftUpperLeg</key>
				<string>{-1, -23}</string>
				<key>neck</key>
				<string>{22, 52}</string>
				<key>rightFoot</key>
				<string>{22, -48}</string>
				<key>rightHand</key>
				<string>{41, 44}</string>
				<key>rightLowerLeg</key>
				<string>{12, -50}</string>
				<key>rightPelvis</key>
				<string>{-5, -4}</string>
				<key>rightShoulder</key>
				<string>{4, 43}</string>
				<key>rightUpperArm</key>
				<string>{23, 28}</string>
				<key>rightUpperLeg</key>
				<string>{6, -23}</string>
				<key>torso</key>
				<string>{18, 44}</string>
			</dict>
			<key>time</key>
			<real>1.2623437643051147</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{6, 1}</string>
				<key>head</key>
				<string>{31, 77}</string>
				<key>leftFoot</key>
				<string>{-14, -47}</string>
				<key>leftHand</key>
				<string>{45, 16}</string>
				<key>leftLowerArm</key>
				<string>{36, 16}</string>
				<key>leftLowerLeg</key>
				<string>{-18, -32}</string>
				<key>leftPelvis</key>
				<string>{16, 0}</string>
				<key>leftShoulder</key>
				<string>{21, 41}</string>
				<key>leftUpperArm</key>
				<string>{18, 17}</string>
				<key>leftUpperLeg</key>
				<string>{2, -20}</string>
				<key>neck</key>
				<string>{24, 55}</string>
				<key>rightFoot</key>
				<string>{13, -52}</string>
				<key>rightHand</key>
				<string>{40, 44}</string>
				<key>rightLowerArm</key>
				<string>{42, 32}</string>
				<key>rightLowerLeg</key>
				<string>{3, -51}</string>
				<key>rightPelvis</key>
				<string>{-2, -3}</string>
				<key>rightShoulder</key>
				<string>{6, 44}</string>
				<key>rightUpperLeg</key>
				<string>{6, -24}</string>
				<key>torso</key>
				<string>{19, 47}</string>
			</dict>
			<key>time</key>
			<real>1.4823827743530273</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{8, 1}</string>
				<key>head</key>
				<string>{31, 78}</string>
				<key>leftFoot</key>
				<string>{-11, -47}</string>
				<key>leftHand</key>
				<string>{46, 16}</string>
				<key>leftLowerArm</key>
				<string>{37, 17}</string>
				<key>leftLowerLeg</key>
				<string>{-13, -32}</string>
				<key>leftPelvis</key>
				<string>{17, 4}</string>
				<key>leftUpperArm</key>
				<string>{19, 18}</string>
				<key>leftUpperLeg</key>
				<string>{6, -18}</string>
				<key>neck</key>
				<string>{25, 55}</string>
				<key>rightFoot</key>
				<string>{0, -52}</string>
				<key>rightLowerLeg</key>
				<string>{-9, -49}</string>
				<key>rightPelvis</key>
				<string>{-1, -2}</string>
				<key>rightUpperLeg</key>
				<string>{1, -24}</string>
				<key>torso</key>
				<string>{19, 48}</string>
			</dict>
			<key>time</key>
			<real>1.6657031774520874</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{8, 3}</string>
				<key>head</key>
				<string>{32, 79}</string>
				<key>leftFoot</key>
				<string>{-5, -41}</string>
				<key>leftHand</key>
				<string>{44, 16}</string>
				<key>leftLowerArm</key>
				<string>{35, 17}</string>
				<key>leftLowerLeg</key>
				<string>{-8, -26}</string>
				<key>leftPelvis</key>
				<string>{18, 4}</string>
				<key>leftShoulder</key>
				<string>{20, 43}</string>
				<key>leftUpperArm</key>
				<string>{17, 20}</string>
				<key>leftUpperLeg</key>
				<string>{15, -20}</string>
				<key>neck</key>
				<string>{26, 56}</string>
				<key>rightFoot</key>
				<string>{-14, -49}</string>
				<key>rightHand</key>
				<string>{38, 44}</string>
				<key>rightLowerArm</key>
				<string>{40, 32}</string>
				<key>rightLowerLeg</key>
				<string>{-23, -44}</string>
				<key>rightPelvis</key>
				<string>{0, -1}</string>
				<key>rightShoulder</key>
				<string>{6, 48}</string>
				<key>rightUpperArm</key>
				<string>{21, 29}</string>
				<key>rightUpperLeg</key>
				<string>{-6, -23}</string>
				<key>torso</key>
				<string>{19, 50}</string>
			</dict>
			<key>time</key>
			<real>1.8136718273162842</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{1, -3}</string>
				<key>head</key>
				<string>{31, 72}</string>
				<key>leftFoot</key>
				<string>{18, -51}</string>
				<key>leftHand</key>
				<string>{48, 15}</string>
				<key>leftLowerArm</key>
				<string>{39, 15}</string>
				<key>leftLowerLeg</key>
				<string>{3, -46}</string>
				<key>leftPelvis</key>
				<string>{10, 0}</string>
				<key>leftShoulder</key>
				<string>{22, 38}</string>
				<key>leftUpperArm</key>
				<string>{21, 15}</string>
				<key>leftUpperLeg</key>
				<string>{10, -24}</string>
				<key>neck</key>
				<string>{21, 51}</string>
				<key>rightFoot</key>
				<string>{-23, -50}</string>
				<key>rightHand</key>
				<string>{43, 46}</string>
				<key>rightLowerArm</key>
				<string>{43, 35}</string>
				<key>rightLowerLeg</key>
				<string>{-31, -44}</string>
				<key>rightPelvis</key>
				<string>{-9, -2}</string>
				<key>rightShoulder</key>
				<string>{3, 42}</string>
				<key>rightUpperArm</key>
				<string>{24, 31}</string>
				<key>rightUpperLeg</key>
				<string>{-14, -23}</string>
				<key>torso</key>
				<string>{16, 43}</string>
			</dict>
			<key>time</key>
			<real>2</real>
		</dict>
	</array>
	<key>skinFrames</key>
	<array>
		<dict>
			<key>skins</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<string>eyes_OPEN.png</string>
				<key>foot_LEFT.png</key>
				<string>foot_LEFT.png</string>
				<key>foot_RIGHT.png</key>
				<string>foot_RIGHT.png</string>
				<key>forearm_L_outline.png</key>
				<string>forearm_L_outline.png</string>
				<key>forearm_R_outline.png</key>
				<string>forearm_R_outline.png</string>
				<key>gun-belt.png</key>
				<string>gun-belt.png</string>
				<key>gun-holster.png</key>
				<string>gun-holster.png</string>
				<key>gun.png</key>
				<string>gun.png</string>
				<key>hair.png</key>
				<string>hair.png</string>
				<key>hand_L_outline.png</key>
				<string>hand_L_outline.png</string>
				<key>hand_R_outline.png</key>
				<string>handRest.png</string>
				<key>hat.png</key>
				<string>hat.png</string>
				<key>head.png</key>
				<string>head.png</string>
				<key>leg_lower_L_outline.png</key>
				<string>leg_lower_L_outline.png</string>
				<key>leg_lower_R_outline.png</key>
				<string>leg_lower_R_outline.png</string>
				<key>leg_upper_L_outline.png</key>
				<string>leg_upper_L_outline.png</string>
				<key>leg_upper_R_outline.png</key>
				<string>leg_upper_R_outline.png</string>
				<key>mouth.png</key>
				<string>angry_mouth.png</string>
				<key>muzzleFlash.png</key>
				<string>muzzleFlash.png</string>
				<key>neck_outline.png</key>
				<string>neck_outline.png</string>
				<key>pelvis.png</key>
				<string>pelvis.png</string>
				<key>shoulder_L_outline.png</key>
				<string>shoulder_L_outline.png</string>
				<key>shoulder_R_outline.png</key>
				<string>shoulder_R_outline.png</string>
				<key>tennisBall.png</key>
				<string>tennisBall.png</string>
				<key>torso_outline.png</key>
				<string>torso_outline.png</string>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>spriteTransformFrames</key>
	<array>
		<dict>
			<key>time</key>
			<real>0.0</real>
			<key>transform</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135299682617188</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{14, -15}</string>
					<key>position</key>
					<string>{11, 75}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angle</key>
					<real>2.4377212524414062</real>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{4, 0}</string>
					<key>position</key>
					<string>{10, -49}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angle</key>
					<real>4.9422531127929688</real>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{4, -1}</string>
					<key>position</key>
					<string>{-10, -50}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>29.785316467285156</real>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 9}</string>
					<key>position</key>
					<string>{14, 15}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-16.049697875976562</real>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{1, 10}</string>
					<key>position</key>
					<string>{-23, 14}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{1, -10}</string>
					<key>position</key>
					<string>{0, 10}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-12, -7}</string>
					<key>position</key>
					<string>{-12, 6}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-16, -12}</string>
					<key>position</key>
					<string>{-17, 11}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135299682617188</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{5, -19}</string>
					<key>position</key>
					<string>{2, 78}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>11.812339782714844</real>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{2, 3}</string>
					<key>position</key>
					<string>{25, 10}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-22.7193603515625</real>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{5, 4}</string>
					<key>position</key>
					<string>{-18, -1}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135147094726562</real>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{5, -33}</string>
					<key>position</key>
					<string>{1, 92}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135299682617188</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{6, -15}</string>
					<key>position</key>
					<string>{3, 74}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>7.019927978515625</real>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-4, 12}</string>
					<key>position</key>
					<string>{7, -40}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>10.808792114257812</real>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-3, 10}</string>
					<key>position</key>
					<string>{-10, -35}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-1.0427398681640625</real>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 9}</string>
					<key>position</key>
					<string>{8, -12}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-2.05889892578125</real>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 8}</string>
					<key>position</key>
					<string>{-5, -12}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angle</key>
					<real>-4.3135299682617188</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{16, -5}</string>
					<key>position</key>
					<string>{14, 64}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angle</key>
					<real>-20.287689208984375</real>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{27, 16}</string>
					<key>position</key>
					<string>{0, -18}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angle</key>
					<real>10.332168579101562</real>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-2, -7}</string>
					<key>position</key>
					<string>{-2, 56}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -4}</string>
					<key>position</key>
					<string>{0, 4}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>24.8282470703125</real>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{1, 13}</string>
					<key>position</key>
					<string>{5, 31}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-21.180587768554688</real>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-1, 13}</string>
					<key>position</key>
					<string>{-20, 34}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angle</key>
					<real>-1.52587890625e-05</real>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.828788757324219</real>
					<key>posOff</key>
					<string>{0, 0}</string>
					<key>position</key>
					<string>{-3, 10}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angle</key>
					<real>1.7924575805664062</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{3, -33}</string>
					<key>position</key>
					<string>{0, 33}</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>totalTime</key>
	<real>2</real>
	<key>visibilityFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<true/>
				<key>foot_LEFT.png</key>
				<true/>
				<key>foot_RIGHT.png</key>
				<true/>
				<key>forearm_L_outline.png</key>
				<true/>
				<key>forearm_R_outline.png</key>
				<true/>
				<key>gun-belt.png</key>
				<true/>
				<key>gun-holster.png</key>
				<true/>
				<key>gun.png</key>
				<true/>
				<key>hair.png</key>
				<true/>
				<key>hand_L_outline.png</key>
				<true/>
				<key>hand_R_outline.png</key>
				<true/>
				<key>hat.png</key>
				<true/>
				<key>head.png</key>
				<true/>
				<key>leg_lower_L_outline.png</key>
				<true/>
				<key>leg_lower_R_outline.png</key>
				<true/>
				<key>leg_upper_L_outline.png</key>
				<true/>
				<key>leg_upper_R_outline.png</key>
				<true/>
				<key>mouth.png</key>
				<true/>
				<key>muzzleFlash.png</key>
				<false/>
				<key>neck_outline.png</key>
				<true/>
				<key>pelvis.png</key>
				<true/>
				<key>shoulder_L_outline.png</key>
				<true/>
				<key>shoulder_R_outline.png</key>
				<true/>
				<key>tennisBall.png</key>
				<false/>
				<key>torso_outline.png</key>
				<true/>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>zOrderFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<integer>16</integer>
				<key>foot_LEFT.png</key>
				<integer>5</integer>
				<key>foot_RIGHT.png</key>
				<integer>8</integer>
				<key>forearm_L_outline.png</key>
				<integer>1</integer>
				<key>forearm_R_outline.png</key>
				<integer>22</integer>
				<key>gun-belt.png</key>
				<integer>10</integer>
				<key>gun-holster.png</key>
				<integer>14</integer>
				<key>gun.png</key>
				<integer>13</integer>
				<key>hair.png</key>
				<integer>18</integer>
				<key>hand_L_outline.png</key>
				<integer>2</integer>
				<key>hand_R_outline.png</key>
				<integer>20</integer>
				<key>hat.png</key>
				<integer>19</integer>
				<key>head.png</key>
				<integer>15</integer>
				<key>leg_lower_L_outline.png</key>
				<integer>4</integer>
				<key>leg_lower_R_outline.png</key>
				<integer>7</integer>
				<key>leg_upper_L_outline.png</key>
				<integer>3</integer>
				<key>leg_upper_R_outline.png</key>
				<integer>6</integer>
				<key>mouth.png</key>
				<integer>17</integer>
				<key>muzzleFlash.png</key>
				<integer>23</integer>
				<key>neck_outline.png</key>
				<integer>11</integer>
				<key>pelvis.png</key>
				<integer>9</integer>
				<key>shoulder_L_outline.png</key>
				<integer>0</integer>
				<key>shoulder_R_outline.png</key>
				<integer>21</integer>
				<key>tennisBall.png</key>
				<integer>24</integer>
				<key>torso_outline.png</key>
				<integer>12</integer>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
</dict>
</plist>
