<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectionFrames</key>
	<array>
		<dict>
			<key>connections</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{29, -31}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>bone</key>
					<string>leftFoot</string>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{9, 0}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>bone</key>
					<string>rightFoot</string>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{8, -1}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>bone</key>
					<string>leftLowerArm</string>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 18}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>bone</key>
					<string>rightLowerArm</string>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{2, 20}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{2, -20}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-24, -15}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angleOff</key>
					<real>176.14559936523438</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-88.296234130859375</real>
					<key>posOff</key>
					<string>{26, -13}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{10, -39}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>bone</key>
					<string>leftHand</string>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{4, 6}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{9, 9}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{10, -67}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{12, -30}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>bone</key>
					<string>leftLowerLeg</string>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-9, 23}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>bone</key>
					<string>rightLowerLeg</string>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-5, 21}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>bone</key>
					<string>leftUpperLeg</string>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 18}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>bone</key>
					<string>rightUpperLeg</string>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 17}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{32, -9}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{54, 32}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>bone</key>
					<string>neck</string>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-3, -14}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -9}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>bone</key>
					<string>leftUpperArm</string>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{3, 26}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>bone</key>
					<string>rightUpperArm</string>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-3, 26}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.843845367431641</real>
					<key>posOff</key>
					<string>{0, 0}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{7, -65}</string>
				</dict>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>version</key>
		<real>1</real>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>name</key>
	<string>Shoot</string>
	<key>playMode</key>
	<integer>1</integer>
	<key>positionFrames</key>
	<array>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{0, -12}</string>
				<key>head</key>
				<string>{35, 144}</string>
				<key>leftFoot</key>
				<string>{58, -103}</string>
				<key>leftHand</key>
				<string>{80, 81}</string>
				<key>leftLowerArm</key>
				<string>{87, 64}</string>
				<key>leftLowerLeg</key>
				<string>{27, -102}</string>
				<key>leftPelvis</key>
				<string>{16, -19}</string>
				<key>leftShoulder</key>
				<string>{22, 71}</string>
				<key>leftUpperArm</key>
				<string>{58, 42}</string>
				<key>leftUpperLeg</key>
				<string>{43, -59}</string>
				<key>neck</key>
				<string>{13, 103}</string>
				<key>rightFoot</key>
				<string>{-33, -99}</string>
				<key>rightHand</key>
				<string>{88, 71}</string>
				<key>rightLowerArm</key>
				<string>{65, 70}</string>
				<key>rightLowerLeg</key>
				<string>{-50, -89}</string>
				<key>rightPelvis</key>
				<string>{-11, -19}</string>
				<key>rightShoulder</key>
				<string>{-19, 81}</string>
				<key>rightUpperArm</key>
				<string>{26, 66}</string>
				<key>rightUpperLeg</key>
				<string>{-3, -63}</string>
				<key>torso</key>
				<string>{6, 86}</string>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>head</key>
				<string>{30, 145}</string>
				<key>leftHand</key>
				<string>{71, 80}</string>
				<key>leftLowerArm</key>
				<string>{67, 62}</string>
				<key>leftShoulder</key>
				<string>{19, 73}</string>
				<key>leftUpperArm</key>
				<string>{45, 34}</string>
				<key>neck</key>
				<string>{8, 104}</string>
				<key>rightHand</key>
				<string>{80, 70}</string>
				<key>rightLowerArm</key>
				<string>{57, 69}</string>
				<key>rightShoulder</key>
				<string>{-23, 80}</string>
				<key>rightUpperArm</key>
				<string>{19, 58}</string>
				<key>torso</key>
				<string>{1, 86}</string>
			</dict>
			<key>time</key>
			<real>0.097164429724216461</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>head</key>
				<string>{35, 144}</string>
				<key>leftHand</key>
				<string>{83, 82}</string>
				<key>leftLowerArm</key>
				<string>{87, 64}</string>
				<key>leftShoulder</key>
				<string>{22, 71}</string>
				<key>leftUpperArm</key>
				<string>{58, 42}</string>
				<key>neck</key>
				<string>{13, 103}</string>
				<key>rightHand</key>
				<string>{88, 71}</string>
				<key>rightLowerArm</key>
				<string>{65, 70}</string>
				<key>rightShoulder</key>
				<string>{-19, 81}</string>
				<key>rightUpperArm</key>
				<string>{26, 66}</string>
				<key>torso</key>
				<string>{6, 86}</string>
			</dict>
			<key>time</key>
			<real>0.32428246736526489</real>
		</dict>
	</array>
	<key>skinFrames</key>
	<array>
		<dict>
			<key>skins</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<string>eyes_ANGRY.png</string>
				<key>foot_LEFT.png</key>
				<string>foot_LEFT.png</string>
				<key>foot_RIGHT.png</key>
				<string>foot_RIGHT.png</string>
				<key>forearm_L_outline.png</key>
				<string>forearm_L_outline.png</string>
				<key>forearm_R_outline.png</key>
				<string>forearm_R_outline.png</string>
				<key>gun-belt.png</key>
				<string>gun-belt.png</string>
				<key>gun-holster.png</key>
				<string>gun-holster.png</string>
				<key>gun.png</key>
				<string>gun.png</string>
				<key>hair.png</key>
				<string>hair.png</string>
				<key>hand_L_outline.png</key>
				<string>hand_L_outline.png</string>
				<key>hand_R_outline.png</key>
				<string>hand_R_outline.png</string>
				<key>hat.png</key>
				<string>hat.png</string>
				<key>head.png</key>
				<string>head.png</string>
				<key>leg_lower_L_outline.png</key>
				<string>leg_lower_L_outline.png</string>
				<key>leg_lower_R_outline.png</key>
				<string>leg_lower_R_outline.png</string>
				<key>leg_upper_L_outline.png</key>
				<string>leg_upper_L_outline.png</string>
				<key>leg_upper_R_outline.png</key>
				<string>leg_upper_R_outline.png</string>
				<key>mouth.png</key>
				<string>angry_mouth.png</string>
				<key>muzzleFlash.png</key>
				<string>muzzleFlash.png</string>
				<key>neck_outline.png</key>
				<string>neck_outline.png</string>
				<key>pelvis.png</key>
				<string>pelvis.png</string>
				<key>shoulder_L_outline.png</key>
				<string>shoulder_L_outline.png</string>
				<key>shoulder_R_outline.png</key>
				<string>shoulder_R_outline.png</string>
				<key>tennisBall.png</key>
				<string>tennisBall.png</string>
				<key>torso_outline.png</key>
				<string>torso_outline.png</string>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>spriteTransformFrames</key>
	<array>
		<dict>
			<key>time</key>
			<real>0.0</real>
			<key>transform</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angle</key>
					<real>3.679290771484375</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{29, -31}</string>
					<key>position</key>
					<string>{44, 132}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angle</key>
					<real>-0.59374237060546875</real>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{9, 0}</string>
					<key>position</key>
					<string>{35, -100}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angle</key>
					<real>34.34710693359375</real>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{8, -1}</string>
					<key>position</key>
					<string>{-43, -91}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-38.64599609375</real>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 18}</string>
					<key>position</key>
					<string>{74, 51}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>256.75823974609375</real>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{2, 20}</string>
					<key>position</key>
					<string>{46, 69}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angle</key>
					<real>8.4973526000976562</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{2, -20}</string>
					<key>position</key>
					<string>{2, 8}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angle</key>
					<real>8.4973526000976562</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-24, -15}</string>
					<key>position</key>
					<string>{-23, 3}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angle</key>
					<real>-88.296234130859375</real>
					<key>angleOff</key>
					<real>176.14559936523438</real>
					<key>connAngle</key>
					<real>-88.296234130859375</real>
					<key>posOff</key>
					<string>{26, -13}</string>
					<key>position</key>
					<string>{91, 83}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angle</key>
					<real>3.679290771484375</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{10, -39}</string>
					<key>position</key>
					<string>{25, 141}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>247.54756164550781</real>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{4, 6}</string>
					<key>position</key>
					<string>{87, 71}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>269.444091796875</real>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{9, 9}</string>
					<key>position</key>
					<string>{77, 72}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angle</key>
					<real>3.6793060302734375</real>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{10, -67}</string>
					<key>position</key>
					<string>{28, 168}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angle</key>
					<real>3.679290771484375</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{12, -30}</string>
					<key>position</key>
					<string>{27, 133}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>19.0067138671875</real>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-9, 23}</string>
					<key>position</key>
					<string>{33, -81}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>57.171783447265625</real>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-5, 21}</string>
					<key>position</key>
					<string>{-23, -71}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-32.377334594726562</real>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 18}</string>
					<key>position</key>
					<string>{24, -34}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-15.325347900390625</real>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 17}</string>
					<key>position</key>
					<string>{-7, -35}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angle</key>
					<real>3.679290771484375</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{32, -9}</string>
					<key>position</key>
					<string>{45, 111}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angle</key>
					<real>-88.124252319335938</real>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{54, 32}</string>
					<key>position</key>
					<string>{123, 92}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angle</key>
					<real>25.792953491210938</real>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-3, -14}</string>
					<key>position</key>
					<string>{12, 98}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angle</key>
					<real>8.4973526000976562</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -9}</string>
					<key>position</key>
					<string>{0, -4}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-27.182662963867188</real>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{3, 26}</string>
					<key>position</key>
					<string>{40, 52}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>243.43109130859375</real>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-3, 26}</string>
					<key>position</key>
					<string>{6, 73}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angle</key>
					<real>-1.52587890625e-05</real>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.843845367431641</real>
					<key>posOff</key>
					<string>{0, 0}</string>
					<key>position</key>
					<string>{-5, 19}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angle</key>
					<real>8.4973526000976562</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{7, -65}</string>
					<key>position</key>
					<string>{8, 53}</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>totalTime</key>
	<real>0.60000002384185791</real>
	<key>visibilityFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<true/>
				<key>foot_LEFT.png</key>
				<true/>
				<key>foot_RIGHT.png</key>
				<true/>
				<key>forearm_L_outline.png</key>
				<true/>
				<key>forearm_R_outline.png</key>
				<true/>
				<key>gun-belt.png</key>
				<true/>
				<key>gun-holster.png</key>
				<true/>
				<key>gun.png</key>
				<true/>
				<key>hair.png</key>
				<true/>
				<key>hand_L_outline.png</key>
				<true/>
				<key>hand_R_outline.png</key>
				<true/>
				<key>hat.png</key>
				<true/>
				<key>head.png</key>
				<true/>
				<key>leg_lower_L_outline.png</key>
				<true/>
				<key>leg_lower_R_outline.png</key>
				<true/>
				<key>leg_upper_L_outline.png</key>
				<true/>
				<key>leg_upper_R_outline.png</key>
				<true/>
				<key>mouth.png</key>
				<true/>
				<key>muzzleFlash.png</key>
				<false/>
				<key>neck_outline.png</key>
				<true/>
				<key>pelvis.png</key>
				<true/>
				<key>shoulder_L_outline.png</key>
				<true/>
				<key>shoulder_R_outline.png</key>
				<true/>
				<key>tennisBall.png</key>
				<false/>
				<key>torso_outline.png</key>
				<true/>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>sprites</key>
			<dict>
				<key>muzzleFlash.png</key>
				<true/>
			</dict>
			<key>time</key>
			<real>0.11617742478847504</real>
		</dict>
		<dict>
			<key>sprites</key>
			<dict>
				<key>muzzleFlash.png</key>
				<false/>
			</dict>
			<key>time</key>
			<real>0.33013260364532471</real>
		</dict>
	</array>
	<key>zOrderFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<integer>16</integer>
				<key>foot_LEFT.png</key>
				<integer>5</integer>
				<key>foot_RIGHT.png</key>
				<integer>8</integer>
				<key>forearm_L_outline.png</key>
				<integer>1</integer>
				<key>forearm_R_outline.png</key>
				<integer>22</integer>
				<key>gun-belt.png</key>
				<integer>10</integer>
				<key>gun-holster.png</key>
				<integer>14</integer>
				<key>gun.png</key>
				<integer>13</integer>
				<key>hair.png</key>
				<integer>18</integer>
				<key>hand_L_outline.png</key>
				<integer>2</integer>
				<key>hand_R_outline.png</key>
				<integer>20</integer>
				<key>hat.png</key>
				<integer>19</integer>
				<key>head.png</key>
				<integer>15</integer>
				<key>leg_lower_L_outline.png</key>
				<integer>4</integer>
				<key>leg_lower_R_outline.png</key>
				<integer>7</integer>
				<key>leg_upper_L_outline.png</key>
				<integer>3</integer>
				<key>leg_upper_R_outline.png</key>
				<integer>6</integer>
				<key>mouth.png</key>
				<integer>17</integer>
				<key>muzzleFlash.png</key>
				<integer>23</integer>
				<key>neck_outline.png</key>
				<integer>11</integer>
				<key>pelvis.png</key>
				<integer>9</integer>
				<key>shoulder_L_outline.png</key>
				<integer>0</integer>
				<key>shoulder_R_outline.png</key>
				<integer>21</integer>
				<key>tennisBall.png</key>
				<integer>24</integer>
				<key>torso_outline.png</key>
				<integer>12</integer>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
</dict>
</plist>
