<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectionFrames</key>
	<array>
		<dict>
			<key>connections</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{14, -15}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>bone</key>
					<string>leftFoot</string>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{4, 0}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>bone</key>
					<string>rightFoot</string>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{4, -1}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>bone</key>
					<string>leftLowerArm</string>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 9}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>bone</key>
					<string>rightLowerArm</string>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{1, 10}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{1, -10}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-12, -7}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>2.3282623291015625</real>
					<key>posOff</key>
					<string>{-17, -11}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{5, -19}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>bone</key>
					<string>leftHand</string>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{2, 3}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{5, 4}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{5, -33}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{6, -15}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>bone</key>
					<string>leftLowerLeg</string>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-4, 12}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>bone</key>
					<string>rightLowerLeg</string>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-3, 10}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>bone</key>
					<string>leftUpperLeg</string>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 9}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>bone</key>
					<string>rightUpperLeg</string>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 8}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>bone</key>
					<string>head</string>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{16, -5}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>bone</key>
					<string>rightHand</string>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{27, 16}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>bone</key>
					<string>neck</string>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-2, -7}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -4}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>bone</key>
					<string>leftUpperArm</string>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{1, 13}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>bone</key>
					<string>rightUpperArm</string>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-1, 13}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.843845367431641</real>
					<key>posOff</key>
					<string>{0, 0}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>bone</key>
					<string>torso</string>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{3, -33}</string>
				</dict>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>metadata</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>version</key>
		<real>1</real>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>name</key>
	<string>SoftWalk</string>
	<key>playMode</key>
	<integer>1</integer>
	<key>positionFrames</key>
	<array>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{2, -1}</string>
				<key>head</key>
				<string>{9, 80}</string>
				<key>leftFoot</key>
				<string>{-8, -52}</string>
				<key>leftHand</key>
				<string>{18, 0}</string>
				<key>leftLowerArm</key>
				<string>{13, 7}</string>
				<key>leftLowerLeg</key>
				<string>{-20, -41}</string>
				<key>leftPelvis</key>
				<string>{9, -4}</string>
				<key>leftShoulder</key>
				<string>{9, 42}</string>
				<key>leftUpperArm</key>
				<string>{11, 22}</string>
				<key>leftUpperLeg</key>
				<string>{-3, -25}</string>
				<key>neck</key>
				<string>{2, 58}</string>
				<key>rightFoot</key>
				<string>{29, -41}</string>
				<key>rightHand</key>
				<string>{-5, -10}</string>
				<key>rightLowerArm</key>
				<string>{-10, 1}</string>
				<key>rightLowerLeg</key>
				<string>{21, -46}</string>
				<key>rightPelvis</key>
				<string>{-4, -4}</string>
				<key>rightShoulder</key>
				<string>{-11, 43}</string>
				<key>rightUpperArm</key>
				<string>{-16, 19}</string>
				<key>rightUpperLeg</key>
				<string>{9, -22}</string>
				<key>torso</key>
				<string>{0, 49}</string>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{2, 2}</string>
				<key>head</key>
				<string>{9, 83}</string>
				<key>leftFoot</key>
				<string>{-15, -47}</string>
				<key>leftHand</key>
				<string>{15, 2}</string>
				<key>leftLowerArm</key>
				<string>{10, 10}</string>
				<key>leftLowerLeg</key>
				<string>{-24, -33}</string>
				<key>leftPelvis</key>
				<string>{9, -2}</string>
				<key>leftShoulder</key>
				<string>{9, 45}</string>
				<key>leftUpperArm</key>
				<string>{8, 25}</string>
				<key>leftUpperLeg</key>
				<string>{-3, -22}</string>
				<key>neck</key>
				<string>{2, 61}</string>
				<key>rightFoot</key>
				<string>{10, -49}</string>
				<key>rightHand</key>
				<string>{0, -6}</string>
				<key>rightLowerArm</key>
				<string>{-7, 3}</string>
				<key>rightLowerLeg</key>
				<string>{0, -50}</string>
				<key>rightPelvis</key>
				<string>{-4, -1}</string>
				<key>rightShoulder</key>
				<string>{-11, 46}</string>
				<key>rightUpperArm</key>
				<string>{-12, 22}</string>
				<key>rightUpperLeg</key>
				<string>{1, -22}</string>
				<key>torso</key>
				<string>{0, 52}</string>
			</dict>
			<key>time</key>
			<real>0.17988823354244232</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{1, 2}</string>
				<key>leftFoot</key>
				<string>{11, -48}</string>
				<key>leftHand</key>
				<string>{-4, 2}</string>
				<key>leftLowerArm</key>
				<string>{-2, 11}</string>
				<key>leftLowerLeg</key>
				<string>{2, -36}</string>
				<key>leftPelvis</key>
				<string>{8, -1}</string>
				<key>leftShoulder</key>
				<string>{8, 45}</string>
				<key>leftUpperArm</key>
				<string>{3, 26}</string>
				<key>leftUpperLeg</key>
				<string>{21, -22}</string>
				<key>neck</key>
				<string>{1, 61}</string>
				<key>rightFoot</key>
				<string>{7, -50}</string>
				<key>rightHand</key>
				<string>{10, -2}</string>
				<key>rightLowerArm</key>
				<string>{3, 7}</string>
				<key>rightLowerLeg</key>
				<string>{-3, -50}</string>
				<key>rightPelvis</key>
				<string>{-5, -1}</string>
				<key>rightShoulder</key>
				<string>{-12, 46}</string>
				<key>rightUpperArm</key>
				<string>{-9, 22}</string>
				<key>rightUpperLeg</key>
				<string>{-3, -23}</string>
				<key>torso</key>
				<string>{-1, 52}</string>
			</dict>
			<key>time</key>
			<real>0.35392943024635315</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{0, -1}</string>
				<key>head</key>
				<string>{8, 80}</string>
				<key>leftFoot</key>
				<string>{38, -48}</string>
				<key>leftHand</key>
				<string>{-6, 0}</string>
				<key>leftLowerArm</key>
				<string>{-4, 9}</string>
				<key>leftLowerLeg</key>
				<string>{22, -48}</string>
				<key>leftPelvis</key>
				<string>{7, -4}</string>
				<key>leftShoulder</key>
				<string>{7, 42}</string>
				<key>leftUpperArm</key>
				<string>{0, 23}</string>
				<key>leftUpperLeg</key>
				<string>{20, -25}</string>
				<key>neck</key>
				<string>{0, 58}</string>
				<key>rightFoot</key>
				<string>{-11, -50}</string>
				<key>rightHand</key>
				<string>{12, -5}</string>
				<key>rightLowerArm</key>
				<string>{4, 4}</string>
				<key>rightLowerLeg</key>
				<string>{-21, -50}</string>
				<key>rightPelvis</key>
				<string>{-5, -4}</string>
				<key>rightShoulder</key>
				<string>{-12, 43}</string>
				<key>rightUpperArm</key>
				<string>{-8, 19}</string>
				<key>rightUpperLeg</key>
				<string>{-9, -26}</string>
				<key>torso</key>
				<string>{-2, 49}</string>
			</dict>
			<key>time</key>
			<real>0.55950272083282471</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>leftFoot</key>
				<string>{32, -52}</string>
				<key>leftLowerArm</key>
				<string>{-2, 8}</string>
				<key>leftLowerLeg</key>
				<string>{16, -51}</string>
				<key>leftUpperArm</key>
				<string>{3, 22}</string>
				<key>leftUpperLeg</key>
				<string>{15, -27}</string>
				<key>rightFoot</key>
				<string>{-20, -50}</string>
				<key>rightHand</key>
				<string>{7, -6}</string>
				<key>rightLowerArm</key>
				<string>{-2, 2}</string>
				<key>rightLowerLeg</key>
				<string>{-29, -46}</string>
				<key>rightUpperArm</key>
				<string>{-10, 19}</string>
				<key>rightUpperLeg</key>
				<string>{-11, -25}</string>
			</dict>
			<key>time</key>
			<real>0.7483934760093689</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{0, 2}</string>
				<key>head</key>
				<string>{8, 82}</string>
				<key>leftFoot</key>
				<string>{19, -51}</string>
				<key>leftHand</key>
				<string>{7, 1}</string>
				<key>leftLowerArm</key>
				<string>{7, 10}</string>
				<key>leftLowerLeg</key>
				<string>{3, -49}</string>
				<key>leftPelvis</key>
				<string>{7, -2}</string>
				<key>leftShoulder</key>
				<string>{7, 45}</string>
				<key>leftUpperArm</key>
				<string>{10, 24}</string>
				<key>leftUpperLeg</key>
				<string>{6, -26}</string>
				<key>neck</key>
				<string>{0, 60}</string>
				<key>rightFoot</key>
				<string>{-7, -42}</string>
				<key>rightHand</key>
				<string>{1, -5}</string>
				<key>rightLowerArm</key>
				<string>{-6, 4}</string>
				<key>rightLowerLeg</key>
				<string>{-14, -34}</string>
				<key>rightPelvis</key>
				<string>{-5, -2}</string>
				<key>rightShoulder</key>
				<string>{-12, 45}</string>
				<key>rightUpperArm</key>
				<string>{-14, 21}</string>
				<key>rightUpperLeg</key>
				<string>{9, -19}</string>
				<key>torso</key>
				<string>{-2, 51}</string>
			</dict>
			<key>time</key>
			<real>0.96085792779922485</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{2, -1}</string>
				<key>head</key>
				<string>{9, 80}</string>
				<key>leftFoot</key>
				<string>{-8, -52}</string>
				<key>leftHand</key>
				<string>{18, 0}</string>
				<key>leftLowerArm</key>
				<string>{13, 7}</string>
				<key>leftLowerLeg</key>
				<string>{-20, -41}</string>
				<key>leftPelvis</key>
				<string>{9, -4}</string>
				<key>leftShoulder</key>
				<string>{9, 42}</string>
				<key>leftUpperArm</key>
				<string>{11, 22}</string>
				<key>leftUpperLeg</key>
				<string>{-3, -25}</string>
				<key>neck</key>
				<string>{2, 58}</string>
				<key>rightFoot</key>
				<string>{29, -41}</string>
				<key>rightHand</key>
				<string>{-5, -10}</string>
				<key>rightLowerArm</key>
				<string>{-10, 1}</string>
				<key>rightLowerLeg</key>
				<string>{21, -46}</string>
				<key>rightPelvis</key>
				<string>{-4, -4}</string>
				<key>rightShoulder</key>
				<string>{-11, 43}</string>
				<key>rightUpperArm</key>
				<string>{-16, 19}</string>
				<key>rightUpperLeg</key>
				<string>{9, -22}</string>
				<key>torso</key>
				<string>{0, 49}</string>
			</dict>
			<key>time</key>
			<real>1.2000000476837158</real>
		</dict>
	</array>
	<key>skinFrames</key>
	<array>
		<dict>
			<key>skins</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<string>eyes_OPEN.png</string>
				<key>foot_LEFT.png</key>
				<string>foot_LEFT.png</string>
				<key>foot_RIGHT.png</key>
				<string>foot_RIGHT.png</string>
				<key>forearm_L_outline.png</key>
				<string>forearm_L_outline.png</string>
				<key>forearm_R_outline.png</key>
				<string>forearm_R_outline.png</string>
				<key>gun-belt.png</key>
				<string>gun-belt.png</string>
				<key>gun-holster.png</key>
				<string>gun-holster.png</string>
				<key>gun.png</key>
				<string>gun.png</string>
				<key>hair.png</key>
				<string>hair.png</string>
				<key>hand_L_outline.png</key>
				<string>hand_L_outline.png</string>
				<key>hand_R_outline.png</key>
				<string>hand_R_outline.png</string>
				<key>hat.png</key>
				<string>hat.png</string>
				<key>head.png</key>
				<string>head.png</string>
				<key>leg_lower_L_outline.png</key>
				<string>leg_lower_L_outline.png</string>
				<key>leg_lower_R_outline.png</key>
				<string>leg_lower_R_outline.png</string>
				<key>leg_upper_L_outline.png</key>
				<string>leg_upper_L_outline.png</string>
				<key>leg_upper_R_outline.png</key>
				<string>leg_upper_R_outline.png</string>
				<key>mouth.png</key>
				<string>mouth.png</string>
				<key>muzzleFlash.png</key>
				<string>muzzleFlash.png</string>
				<key>neck_outline.png</key>
				<string>neck_outline.png</string>
				<key>pelvis.png</key>
				<string>pelvis.png</string>
				<key>shoulder_L_outline.png</key>
				<string>shoulder_L_outline.png</string>
				<key>shoulder_R_outline.png</key>
				<string>shoulder_R_outline.png</string>
				<key>tennisBall.png</key>
				<string>tennisBall.png</string>
				<key>torso_outline.png</key>
				<string>torso_outline.png</string>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>spriteTransformFrames</key>
	<array>
		<dict>
			<key>time</key>
			<real>0.0</real>
			<key>transform</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<dict>
					<key>angle</key>
					<real>-4.7845458984375</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{14, -15}</string>
					<key>position</key>
					<string>{15, 74}</string>
				</dict>
				<key>foot_LEFT.png</key>
				<dict>
					<key>angle</key>
					<real>38.977920532226562</real>
					<key>angleOff</key>
					<real>92.448226928710938</real>
					<key>connAngle</key>
					<real>12.602165222167969</real>
					<key>posOff</key>
					<string>{4, 0}</string>
					<key>position</key>
					<string>{-16, -43}</string>
				</dict>
				<key>foot_RIGHT.png</key>
				<dict>
					<key>angle</key>
					<real>-28.510475158691406</real>
					<key>angleOff</key>
					<real>86.02459716796875</real>
					<key>connAngle</key>
					<real>10.0872802734375</real>
					<key>posOff</key>
					<string>{4, -1}</string>
					<key>position</key>
					<string>{23, -44}</string>
				</dict>
				<key>forearm_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>80.339851379394531</real>
					<key>angleOff</key>
					<real>91.532829284667969</real>
					<key>connAngle</key>
					<real>77.498603820800781</real>
					<key>posOff</key>
					<string>{0, 9}</string>
					<key>position</key>
					<string>{11, 10}</string>
				</dict>
				<key>forearm_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-24.280197143554688</real>
					<key>angleOff</key>
					<real>186.57774353027344</real>
					<key>connAngle</key>
					<real>-8.583984375</real>
					<key>posOff</key>
					<string>{1, 10}</string>
					<key>position</key>
					<string>{-12, 10}</string>
				</dict>
				<key>gun-belt.png</key>
				<dict>
					<key>angle</key>
					<real>3.4570693969726562</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{1, -10}</string>
					<key>position</key>
					<string>{2, 10}</string>
				</dict>
				<key>gun-holster.png</key>
				<dict>
					<key>angle</key>
					<real>3.4570693969726562</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{-12, -7}</string>
					<key>position</key>
					<string>{-11, 6}</string>
				</dict>
				<key>gun.png</key>
				<dict>
					<key>angle</key>
					<real>3.4570693969726562</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>2.3282623291015625</real>
					<key>posOff</key>
					<string>{-17, -11}</string>
					<key>position</key>
					<string>{-15, 10}</string>
				</dict>
				<key>hair.png</key>
				<dict>
					<key>angle</key>
					<real>-4.7845458984375</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{5, -19}</string>
					<key>position</key>
					<string>{5, 77}</string>
				</dict>
				<key>hand_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>23.962181091308594</real>
					<key>angleOff</key>
					<real>91.382034301757812</real>
					<key>connAngle</key>
					<real>28.28668212890625</real>
					<key>posOff</key>
					<string>{2, 3}</string>
					<key>position</key>
					<string>{16, -1}</string>
				</dict>
				<key>hand_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-22.529296875</real>
					<key>angleOff</key>
					<real>178.4052734375</real>
					<key>connAngle</key>
					<real>-39.3154296875</real>
					<key>posOff</key>
					<string>{5, 4}</string>
					<key>position</key>
					<string>{-7, -5}</string>
				</dict>
				<key>hat.png</key>
				<dict>
					<key>angle</key>
					<real>-4.7845306396484375</real>
					<key>angleOff</key>
					<real>23.405136108398438</real>
					<key>connAngle</key>
					<real>-0.6160125732421875</real>
					<key>posOff</key>
					<string>{5, -33}</string>
					<key>position</key>
					<string>{5, 91}</string>
				</dict>
				<key>head.png</key>
				<dict>
					<key>angle</key>
					<real>-4.7845458984375</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{6, -15}</string>
					<key>position</key>
					<string>{6, 73}</string>
				</dict>
				<key>leg_lower_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>44.654373168945312</real>
					<key>angleOff</key>
					<real>181.529052734375</real>
					<key>connAngle</key>
					<real>15.99365234375</real>
					<key>posOff</key>
					<string>{-4, 12}</string>
					<key>position</key>
					<string>{-12, -33}</string>
				</dict>
				<key>leg_lower_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-29.57745361328125</real>
					<key>angleOff</key>
					<real>184.20648193359375</real>
					<key>connAngle</key>
					<real>4.709320068359375</real>
					<key>posOff</key>
					<string>{-3, 10}</string>
					<key>position</key>
					<string>{13, -32}</string>
				</dict>
				<key>leg_upper_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>32.640823364257812</real>
					<key>angleOff</key>
					<real>177.68547058105469</real>
					<key>connAngle</key>
					<real>-2.9243621826171875</real>
					<key>posOff</key>
					<string>{0, 9}</string>
					<key>position</key>
					<string>{4, -12}</string>
				</dict>
				<key>leg_upper_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-39.71148681640625</real>
					<key>angleOff</key>
					<real>185.11367797851562</real>
					<key>connAngle</key>
					<real>-5.882843017578125</real>
					<key>posOff</key>
					<string>{1, 8}</string>
					<key>position</key>
					<string>{1, -10}</string>
				</dict>
				<key>mouth.png</key>
				<dict>
					<key>angle</key>
					<real>-4.7845458984375</real>
					<key>angleOff</key>
					<real>23.4051513671875</real>
					<key>connAngle</key>
					<real>0.8885040283203125</real>
					<key>posOff</key>
					<string>{16, -5}</string>
					<key>position</key>
					<string>{17, 64}</string>
				</dict>
				<key>muzzleFlash.png</key>
				<dict>
					<key>angle</key>
					<real>-20.097625732421875</real>
					<key>angleOff</key>
					<real>175.97360229492188</real>
					<key>connAngle</key>
					<real>-36.883758544921875</real>
					<key>posOff</key>
					<string>{27, 16}</string>
					<key>position</key>
					<string>{11, -22}</string>
				</dict>
				<key>neck_outline.png</key>
				<dict>
					<key>angle</key>
					<real>13.134513854980469</real>
					<key>angleOff</key>
					<real>-0.91564178466796875</real>
					<key>connAngle</key>
					<real>-14.041770935058594</real>
					<key>posOff</key>
					<string>{-2, -7}</string>
					<key>position</key>
					<string>{2, 55}</string>
				</dict>
				<key>pelvis.png</key>
				<dict>
					<key>angle</key>
					<real>3.4570693969726562</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{0, -4}</string>
					<key>position</key>
					<string>{1, 4}</string>
				</dict>
				<key>shoulder_L_outline.png</key>
				<dict>
					<key>angle</key>
					<real>18.779327392578125</real>
					<key>angleOff</key>
					<real>155.27517700195312</real>
					<key>connAngle</key>
					<real>10.718048095703125</real>
					<key>posOff</key>
					<string>{1, 13}</string>
					<key>position</key>
					<string>{9, 29}</string>
				</dict>
				<key>shoulder_R_outline.png</key>
				<dict>
					<key>angle</key>
					<real>-34.145095825195312</real>
					<key>angleOff</key>
					<real>225.50962829589844</real>
					<key>connAngle</key>
					<real>-38.1767578125</real>
					<key>posOff</key>
					<string>{-1, 13}</string>
					<key>position</key>
					<string>{-13, 30}</string>
				</dict>
				<key>tennisBall.png</key>
				<dict>
					<key>angle</key>
					<real>-1.52587890625e-05</real>
					<key>angleOff</key>
					<real>0.0</real>
					<key>connAngle</key>
					<real>37.843845367431641</real>
					<key>posOff</key>
					<string>{0, 0}</string>
					<key>position</key>
					<string>{-3, 10}</string>
				</dict>
				<key>torso_outline.png</key>
				<dict>
					<key>angle</key>
					<real>3.4570693969726562</real>
					<key>angleOff</key>
					<real>-5.28668212890625</real>
					<key>connAngle</key>
					<real>7.2044448852539062</real>
					<key>posOff</key>
					<string>{3, -33}</string>
					<key>position</key>
					<string>{3, 32}</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>totalTime</key>
	<real>1.2000000476837158</real>
	<key>visibilityFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<true/>
				<key>foot_LEFT.png</key>
				<true/>
				<key>foot_RIGHT.png</key>
				<true/>
				<key>forearm_L_outline.png</key>
				<true/>
				<key>forearm_R_outline.png</key>
				<true/>
				<key>gun-belt.png</key>
				<true/>
				<key>gun-holster.png</key>
				<true/>
				<key>gun.png</key>
				<true/>
				<key>hair.png</key>
				<true/>
				<key>hand_L_outline.png</key>
				<true/>
				<key>hand_R_outline.png</key>
				<true/>
				<key>hat.png</key>
				<true/>
				<key>head.png</key>
				<true/>
				<key>leg_lower_L_outline.png</key>
				<true/>
				<key>leg_lower_R_outline.png</key>
				<true/>
				<key>leg_upper_L_outline.png</key>
				<true/>
				<key>leg_upper_R_outline.png</key>
				<true/>
				<key>mouth.png</key>
				<true/>
				<key>muzzleFlash.png</key>
				<false/>
				<key>neck_outline.png</key>
				<true/>
				<key>pelvis.png</key>
				<true/>
				<key>shoulder_L_outline.png</key>
				<true/>
				<key>shoulder_R_outline.png</key>
				<true/>
				<key>tennisBall.png</key>
				<false/>
				<key>torso_outline.png</key>
				<true/>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>zOrderFrames</key>
	<array>
		<dict>
			<key>sprites</key>
			<dict>
				<key>eyes_OPEN.png</key>
				<integer>16</integer>
				<key>foot_LEFT.png</key>
				<integer>5</integer>
				<key>foot_RIGHT.png</key>
				<integer>8</integer>
				<key>forearm_L_outline.png</key>
				<integer>1</integer>
				<key>forearm_R_outline.png</key>
				<integer>22</integer>
				<key>gun-belt.png</key>
				<integer>10</integer>
				<key>gun-holster.png</key>
				<integer>14</integer>
				<key>gun.png</key>
				<integer>13</integer>
				<key>hair.png</key>
				<integer>18</integer>
				<key>hand_L_outline.png</key>
				<integer>2</integer>
				<key>hand_R_outline.png</key>
				<integer>20</integer>
				<key>hat.png</key>
				<integer>19</integer>
				<key>head.png</key>
				<integer>15</integer>
				<key>leg_lower_L_outline.png</key>
				<integer>4</integer>
				<key>leg_lower_R_outline.png</key>
				<integer>7</integer>
				<key>leg_upper_L_outline.png</key>
				<integer>3</integer>
				<key>leg_upper_R_outline.png</key>
				<integer>6</integer>
				<key>mouth.png</key>
				<integer>17</integer>
				<key>muzzleFlash.png</key>
				<integer>23</integer>
				<key>neck_outline.png</key>
				<integer>11</integer>
				<key>pelvis.png</key>
				<integer>9</integer>
				<key>shoulder_L_outline.png</key>
				<integer>0</integer>
				<key>shoulder_R_outline.png</key>
				<integer>21</integer>
				<key>tennisBall.png</key>
				<integer>24</integer>
				<key>torso_outline.png</key>
				<integer>12</integer>
			</dict>
			<key>time</key>
			<real>0.0</real>
		</dict>
	</array>
</dict>
</plist>
