<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>animations</key>
	<dict>
		<key>NumbersAnim</key>
		<dict>
			<key>delayPerUnit</key>
			<real>1.0000001192092896</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_0.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_1.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_2.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_3.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_4.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict>
						<key>BooleanValue</key>
						<true/>
						<key>NumberValue</key>
						<real>5</real>
						<key>StringValue</key>
						<string>Demonstrate user info</string>
					</dict>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_5.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_6.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_7.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_8.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>number_9.png</string>
				</dict>
			</array>
			<key>loop</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>maxRandomTime</key>
			<real>0.10000000149011612</real>
			<key>minRandomTime</key>
			<real>0.10000000149011612</real>
			<key>randomFrames</key>
			<false/>
			<key>randomReplay</key>
			<false/>
			<key>restoreOriginalFrame</key>
			<false/>
		</dict>
		<key>blinkingAnim</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.10000000149011612</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<real>6</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>robotEyesOpen.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>robotEyesClose.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>4</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>robotEyesOpen.png</string>
				</dict>
			</array>
			<key>loop</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>maxRandomTime</key>
			<real>1.1000000238418579</real>
			<key>minRandomTime</key>
			<real>1.1000000238418579</real>
			<key>randomFrames</key>
			<false/>
			<key>randomReplay</key>
			<true/>
			<key>restoreOriginalFrame</key>
			<false/>
		</dict>
		<key>fireAnim</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.10000000149011612</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>flame0.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>flame1.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>flame2.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>flame3.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>flame4.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>flame5.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>flame6.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>flame7.png</string>
				</dict>
			</array>
			<key>loop</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>maxRandomTime</key>
			<real>0.30000001192092896</real>
			<key>minRandomTime</key>
			<real>0.10000000149011612</real>
			<key>randomFrames</key>
			<true/>
			<key>randomReplay</key>
			<false/>
			<key>restoreOriginalFrame</key>
			<false/>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>spritesheets</key>
		<array>
			<string>spriteSheetAnimationsTest_robotBlinking.plist</string>
			<string>spriteSheetAnimationsTest_Numbers.plist</string>
			<string>spriteSheetAnimationsTest_flames.plist</string>
		</array>
	</dict>
</dict>
</plist>
