<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>robotEyesClose.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 101}, {73, 89}}</string>
			<key>offset</key>
			<string>{-3.5, 0.5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 10}, {89, 73}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
		<key>robotEyesOpen.png</key>
		<dict>
			<key>frame</key>
			<string>{{11, 6}, {73, 89}}</string>
			<key>offset</key>
			<string>{-3.5, 0.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 5}, {73, 89}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
			<key>tag</key>
			<integer>0</integer>
			<key>tint</key>
			<string>{{255, 255}, {255, 255}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{91, 176}</string>
		<key>textureFileName</key>
		<string>spriteSheetAnimationsTest_robotBlinking.png</string>
	</dict>
</dict>
</plist>
